<a href="https://colab.research.google.com/github/Yashingle1307/Python-basics/blob/main/video4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary =>
used to store key value pairs

In [3]:
dict={
    "name":"Yash",
    "cgpa":9.15,
    "marks":[12,2,3,4,5],
}
print(dict)

{'name': 'Yash', 'cgpa': 9.15, 'marks': [12, 2, 3, 4, 5]}

In [24]:
student={
    "name":"Yash",
    "lastname":"Ingle",
    "CGPA":9.15,
    "age":21,
    "is_adult":True,
    "marks":{
        "math":45,
        "chem":56,
        "phy":56,
        "bio":78,
    },
}

print(type(student))

<class 'dict'>

In [25]:
print("Name of student : ",student["name"]+" "+student["lastname"])

Name of student :  Yash Ingle

In [26]:
student["marks"]["bio"]

78

In [27]:
student.keys()

dict_keys(['name', 'lastname', 'CGPA', 'age', 'is_adult', 'marks'])

In [28]:
student.values()

dict_values(['Yash', 'Ingle', 9.15, 21, True, {'math': 45, 'chem': 56, 'phy': 56, 'bio': 78}])

In [30]:
print(list(student.items()))

[('name', 'Yash'), ('lastname', 'Ingle'), ('CGPA', 9.15), ('age', 21), ('is_adult', True), ('marks', {'math': 45, 'chem': 56, 'phy': 56, 'bio': 78})]

In [37]:
print(student.get("name"))
print(student.get("firstname"))
# print(student["firstname"]) it gives error so if we use .get("name") it not return error

Yash
None

Set

In [42]:
nums={1,2,3}
print(type(nums))

<class 'set'>

In [43]:
print(nums)

{1, 2, 3}

In [45]:
names={"Yash","Om","Harsh","Mayank","kru","Bhatkar","Nilay"}
print(names)

{'Om', 'Bhatkar', 'kru', 'Mayank', 'Harsh', 'Nilay', 'Yash'}

In [46]:
print(len(names))

7

In [48]:
collection =set() #for empty set
print(collection)
print(type(collection))

set()
<class 'set'>

In [58]:
# set is mutable but its element is immutable
# functions

collection={"Yash","Ingle","CSE(AI)",(1,2,3,3,4)}

collection.add(1)
print(collection)

collection.remove(1)
print(collection)

{1, (1, 2, 3, 3, 4), 'CSE(AI)', 'Yash', 'Ingle'}
{(1, 2, 3, 3, 4), 'CSE(AI)', 'Yash', 'Ingle'}

In [60]:
collection.clear()
print(collection)

set()

In [63]:
collection.add(1)
collection.pop()

1

In [66]:
# set methods union and intersection
set1={1,2,3,4}

set2={1,2,3,4,5,6,7,8}

print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4}

In [69]:
dict={
    "table":['a piece of furnitutre','list of facts & figure'],
    "cat":"a small animal",
    }

In [71]:
#totoal no of classrooms

sub={"python","java","c++","python","javascript","java","python","java","c++","c"}

print(len(sub))

5

In [79]:
record={}

x=int(input("Enter a Math marks : "))
record.update({"Math":x})

y=int(input("Enter a Phy marks : "))
record.update({"Phy":y})

z=int(input("Enter a Chem marks : "))
record.update({"Chem":z})

print(record)

Enter a Math marks : 45
Enter a Phy marks : 45
Enter a Chem marks : 45
{'Math': 45, 'Phy': 45, 'Chem': 45}

In [82]:
values={
    ("float",9.0),
    ("int",9),
}

In [83]:
print(values)

{('int', 9), ('float', 9.0)}