<a href="https://colab.research.google.com/github/Yashingle1307/Python-basics/blob/main/video2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String  
string is data type that stores a sequence of character

In [1]:
str1='Yash'
print(str1)

Yash

Length of string

In [4]:
#

str1='GHRCEM,Pune.\nPin-412207 '
print(str1)
print(len(str1))

GHRCEM,Pune.
Pin-412207
24

String concatenation

In [10]:
str1="Yash"
str2="Ingle"

print(str1+" "+str2)

Yash Ingle

In [9]:
print(len(str1+str2))

9

In [15]:
str1='How are you?'
print(str1[0])

H

Slicing

In [40]:
str1='GHRCEM'
print(str1[0:1])
print(str1[:4])
print(str1[:-3])

G
GHRC
GHR

In [39]:
str1='yashsanjayingle'

print(str1.endswith('ingle'))
print(str1.capitalize())
print(str1.count('a'))
print(str1.find('sanjay'))
print(str1.replace('yash','om'))

True
Yashsanjayingle
3
4
omsanjayingle

In [41]:
str1.find('yash')

-1

In [42]:
str1.count('om')

0

In [45]:
name = input("Enter your name: ")
length = len(name)
print("Length of name is:", length)

Enter your name: om
Length of name is: 2

In [49]:
str2='You bought this at $5, but it is actually of $3'
str2.count('$')

2

Conditional statements

In [52]:
# if-elif-else

age=int(input("Enter your age: "))
if(age>=18):
  print("You are elegible")
else:
  print("You are not elegible")

Enter your age: 52
You are elegible

Traffic

In [56]:
light='yellow'

#indentation spacing instead for curly braces in language like java,c++

if(light=='green'):
  print("Go")
elif(light=='red'):
  print("Stop")
elif(light=='yellow'):
  print("Look")
else:
 print("Light is not working!")

Look

In [66]:
marks=56

if(marks>=90):
  print("Grade A+")
elif(marks<90 and marks>=70):
  print("Grade A ")
elif(marks<70 and marks>=50):
  print("Grade B")
elif(marks<50 and marks>=30):
  print("Grade C")
else:
  print("Fail")

Grade B

In [69]:
#Nested if

age=int(input("Enter your age : "))

if(age>=18):
  if(age>=80):
    print("Cannot drive")
  else:
    print('Can drive')
else:
  print("Cannot drive")

Enter your age : 90
Cannot drive

In [70]:
num=10

if(age%2!=0):
  print("Number is odd")
else:
  print("Number is even")

Number is even

In [72]:
num1=int(input("Enter a number : "))
num2=int(input("Enter a number : "))
num3=int(input("Enter a number : "))


if(num1>num2):
  if(num1>num3):
    print("Number is greater : ",num1)
  else:
    print("Number is greater : ",num3)
else:
  if(num2>num3):
    print("Number is greater : ",num2)
  else:
    print("Number is greater : ",num3)

Enter a number : 10
Enter a number : 20
Enter a number : 30
Number is greater :  30

In [75]:
num=21

if(num%7!=0):
  print("Number is not multiple of 7")
else:
  print("Number is multiple of 7")

Number is multiple of 7