<a href="https://colab.research.google.com/github/Yashingle1307/Python-basics/blob/main/video6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function in Python

In [ ]:
def sum(a,b):
  return a+b;

print(sum(1,2))

3

In [ ]:
def mul(a,b):
  print(a*b)
mul(2,3)
mul(2,6)
mul(10,20)

6
12
200

In [ ]:
def avg(a,b,c):
  return (a+b+c)/3

print(avg(10,20,30))

20.0

Built-in  function

In [ ]:
str='Yash'
print(len(str))

4

In [ ]:
def area(l=10,b=10):
  return l*b

print(area(10,20))
print(area())

print(area(12))

200
100
120

In [ ]:
list2=[1,2,3,4,5]

def findlen(list):
  return len(list)

print(findlen(list2))

5

In [ ]:
list2=[1,2,3,4,5]

def listprint(list):
  for ele in list:
    print(ele, end=" ")

listprint(list2)

1 2 3 4 5

In [ ]:
n=int(input("Enter the number : "))

def fact(n):
  prod=1
  for i in range(1,n+1):
    prod*=i
  print("Factorial of ",n," is ",prod)

fact(n)

Enter the number : 5
Factorial of  5  is  120

In [ ]:
rupee=int(input("Enter amount in Rupee to convert into $ : "))

def convt(rupee):
  return rupee/75

print("Amount in $ : ",convt(rupee))

Enter amount in Rupee to convert into $ : 10000
Amount in $ :  133.33333333333334

Recursion

when function call itself repeatedly

In [1]:
def fact(n):
  if(n == 0 or n==1):
    return 1
  return n*fact(n-1)

print(fact(5))

120

In [5]:
n=int(input("Enter a number : "))

print("Sum of first ",n," natural numbers is ",sum(n))

def sum(n):
  s=0
  for i in range(1,n+1):
    s+=i;
  return s

Enter a number : 10
Sum of first  10  natural numbers is  55

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10]

def funprint(list1,i):
  if(i==len(list1)):
    return
  print(list1[i],end=" ")
  funprint(list1,i+1)

funprint(list1,0)

1 2 3 4 5 6 7 8 9 10

In [8]:
print("End")

End