<a href="https://colab.research.google.com/github/Yashingle1307/Python-basics/blob/main/video5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loops

In [8]:
#loops

# 1) while
count=1
while count<=2:
  print(count," Hello")
  count+=1

1  Hello
2  Hello

In [10]:
# print form 1 to 100

num=1
while num<=100:
  print(num)
  num+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [11]:
# print from 100 to 1

num=100
while num>=1:
  print(num)
  num-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [12]:
n=int(input("Enter a number : "))
i=1
while i<=10:
  print(n*i)
  i+=1

Enter a number :10
10
20
30
40
50
60
70
80
90
100

In [18]:
del len

In [20]:
list1 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
i = 0
limit = len(list1)

while i < limit:
  print(list1[i])
  i += 1

1
4
9
16
25
36
49
64
81
100

In [21]:
tuple1 = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
i = 0
limit = len(list1)
x=81

while i < limit:
  if(x==tuple1[i]):
    print(x," is included in the tuple")
  i += 1

81  is included in the tuple

In [23]:
i=1
while(i<10):
  if(i==5):
    break
  print(i)
  i+=1

print("End......")

1
2
3
4
End......

In [29]:
i=1
while(i<=10):
  if(i%2!=0):
    i+=1
    continue;
  print(i)
  i+=1

2
4
6
8
10

For loop
use for sequential traversal

In [31]:
list1=[1,2,3,4]
for num in list1:
  print(num)

1
2
3
4

In [32]:
str="YashSanjayIngle"

for char in str:
  print(char)

Y
a
s
h
S
a
n
j
a
y
I
n
g
l
e

In [ ]:
# for loop with else
# for:
  #some work
# else:
  #some work

In [33]:
list2=[1,4,9,16,25,36,49,64,81,100]

for ele in list2:
  print(ele)

1
4
9
16
25
36
49
64
81
100

In [38]:
tuple2=(1,4,9,16,25,36,49,64,81,100)

x=int(input('Enter the number : '))

for ele in tuple2:
  if(x==ele):
    print(x," is present in the tuple");
    break;
  i+=1
else:
  print(x," is not present in the tuple");

Enter the number : 4
4  is present in the tuple

Range

In [39]:
for ele in range(5):
  print(ele)

0
1
2
3
4

In [ ]:
# range(start,stop,step)

In [40]:
for ele in range(10):
  print(ele)

0
1
2
3
4
5
6
7
8
9

In [43]:
for ele in range(1,11):
  print(ele)

1
2
3
4
5
6
7
8
9
10

In [42]:
for ele in range(1,10,2):
  print(ele)

1
3
5
7
9

In [44]:
for ele in range (1,101,1):
  print(ele)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [45]:
for ele in range(100,0,-1):
  print(ele)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [47]:
n=int(input("Enter a number : "))
for ele in range(1,11):
  print(n*ele);

Enter a number : 1
1
2
3
4
5
6
7
8
9
10

Pass

In [ ]:
# pass is null statement that does nothing.

In [48]:
for i in range(11):
  pass

print("End");

End

In [53]:
n=int(input("Enter a number : "))
sum=0

for i in range(1,n,1):
  sum+=i

print("The sum is : ",sum)

Enter a number : 100
The sum is :  4950

In [56]:
n=int(input("Enter a number : "))

prod=1

for i in range(1,n+1,1):
  prod*=i

print("Factorial of  ",n," is ",prod)

Enter a number : 5
Factorial of   5  is  120