<a href="https://colab.research.google.com/github/Yashingle1307/Python-basics/blob/main/video1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name='Yash'
print(name)

Yash

Variables

In [ ]:
name='Yash'
rollno=59
dep='AI'

print("Name: ",name)
print("Roll No: ",rollno)
print("Departement: ",dep)

Name:  Yash
Roll No:  59
Departement:  AI

Types of varaibles

In [ ]:
print(type(name))
print(type(rollno))
print(type(dep))

<class 'str'>
<class 'int'>
<class 'str'>

String declaration type

In [ ]:
name='Yash'
name2="Yash"
name3='''Yash'''

print(type(name))
print(type(name2))
print(type(name3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
aged=False
applied=None

print(type(aged))
print(type(applied))

<class 'bool'>
<class 'NoneType'>

Sum of two numbers

In [ ]:
num1=10
num2=20

sum=num1+num2
print(sum)

30

comments

In [ ]:
# name="komal"

"""comments
comments bolck of code which is not execute """

name='Jayesh'
print(name)

Jayesh

Operators
ex logical

In [ ]:
st1=True
st2=True

print(st1 and st2)

True

Arithematic operator

In [ ]:
a=10
b=5

print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

Relational operaotor

In [ ]:
a=5
print(a==b)

True

Assignment operator

In [ ]:
a=10
b=1
b*=10

print(a)
print(b)

10
10

Logical operator example

In [ ]:
st1=False
st2=True

print("OR operator ",st1 or st2)
print("AND operator ",st1 and st2)
print("NOT operator ",not st2)

OR operator  True
AND operator  False
NOT operator  False

Type conversion

In [ ]:
a=1
b=1.0

sum=a+b

print(sum)

2.0

Type casting

In [ ]:
a=2
b='3'

print(a+int(b))

5

Input in Python

In [ ]:
a=int(input("Enter a number : "))
print("You Entered : ",a)

Enter a number : 12
You Entered :  12

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
num1=int(input("Enter a number : "))
num2=int(input("Enter a number : "))
sum=num1+num2
print("The sum of two numbers is = ",sum)

Enter a number : 20
Enter a number : 20
The sum of two numbers is =  40

Area of rectangle

In [ ]:
length=int(input("Enter a length of rectangle "))
breadth=int(input("Enter a breadth of rectangle "))
area=length*breadth
print("The area of rectangle is : ",area)

Enter a length of rectangle 10
Enter a breadth of rectangle 20
The area of rectangle is :  200

Area of Square

In [ ]:
side=int(input("Enter a side od square : "))
area=side*side
print("The area of square is : ",area)

Enter a side od square : 5
The area of square is :  25

Area of traingle

In [ ]:
height=int(input("Enter a height of traingle "))
base=int(input("Enter a base of traingle "))
area=height*base*0.5
print("The area of trainge is : ",area)

Enter a height of traingle 10
Enter a base of traingle 30
The area of trainge is :  150.0

Swap two numbers and find average

In [ ]:
num1=float(input("Enter a number1 : "))
num2=float(input("Enter a number2 : "))
avg=num1+num2/2;

temp=num1
num1=num2
num2=temp

print("The value of number1 is : ",num1)
print("The value of number2 is : ",num2)

print("Average of numbers is",avg)

Enter a number1 : 10
Enter a number2 : 20
The value of number1 is :  20.0
The value of number2 is :  10.0
Average of numbers is 20.0

Take two number and print if num1>num2

In [ ]:
num1=float(input("Enter a number1 : "))
num2=float(input("Enter a number2 : "))

print(num1>num2)

Enter a number1 : 10
Enter a number2 : 4
True